{% extends "base1.html" %}
{% block app_content %}



<div class=class="jumbotron jumbotron-fluid" id="home"  style="margin-top:50px">
  <div class="row" >
<div class="col-md-4">
<div class="container home-content" style="padding-top:270px; padding-bottom:50px; padding-left:50px">
          <h1  class="display-4">     </h1>
          <h1  class="display-4">Wei-Ting Lin</h1>
          <h2>Data Scientist, Ecologist</h3>
          <hr class="my-4">
    <div style="color:#010305">
           <a class="text-dark" href = "https://github.com/weitingwlin" target = "_blank">
              <i class="fab fa-github-square fa-3x"></i>
          </a>
           <a  class="text-dark" href = "https://www.linkedin.com/in/wei-ting-lin-14890a59"  target = "_blank">
             <i class="fab fa-linkedin fa-3x"></i>
          </a>
    </div>
</div><!-- container-->
</div> <!-- col -->
    <div class="col-md-8"></div>
</div><!-- row -->
</div><!-- jumbotron -->

<div class="container-fluid" style="padding: 80px 100px 80px 100px">
  <div class="row">
    <div class="col-md-9">
  <p>My name is Wei-Ting Lin. I am an ecologist transitioning to data science, and a fellow at The Data Incubator.</p>
  <p>I am enthusiastic about data science. While working towards my Ph.D. in ecology, I completed the Deep Learning specialization on Coursera, where I implemented practical models such as image classification with deep neural networks and learned the exciting potentials of deep learning restructuring all industries. My capstone project at the Data Incubator focuses on NLP and sentiment analysis; I built and trained a machine learning model to tag emoji to book reviews! </p>
  <p>As an ecologist I am experienced with data wrangling, multivariate analyses, Monte Carlo methods and stochastic simulation. I completed my undergrad and master’s degree in National Taiwan University where I studied theoretical ecology. I then explored the potential of combining the theoretical and empirical aspects of ecology when studying in University of Houston. I got my Ph.D. degree in 2017. My research projects focus on spatial and temporal scale-dependency of species interactions in an insect food web. </p>
  <p>I am currently located in the Bay Area.</p>
  <p>I enjoy traveling, rock climbing and singing Chinese opera.</p>
</div>
<div class="col-md-3">
    <img class="img-fluid" src="static/wei_ting_lin.png" alt="Wei-Ting">
</div>
  </div>   <!-- row -->


</div><!-- container-->


{% endblock %}
