
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fuzzy Search</title>
    <link rel="icon"  type="image/png"  href="static/icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel='stylesheet' href="static/css/fontawesome-all.min.css"> -->

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <!-- <link href="/static/styles/dist/bootstrap/bootstrap-theme-united.min.css?live" rel="stylesheet" type="text/css" media="screen, projection" ></link> -->
  <link
    href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.15.min.css"
    rel="stylesheet" type="text/css">
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.15.min.css"
    rel="stylesheet" type="text/css">
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.15.min.css"
    rel="stylesheet" type="text/css">

<script src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.15.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.15.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.15.min.js"></script>



  </head>

  <body>



  <nav class="navbar bg-light navbar-expand-sm fixed-top ">
    <!-- Brand -->
      <a class="navbar-brand" href="/index"><i class="fas fa-home"></i> Fuzzy Search</a>

      <!-- Links -->
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link" href="/app">   <i class="fas fa-search"></i> APP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/emoji"> <i class="far fa-smile"></i> EMOJI</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/how_it_works"> <i class="fas fa-question"></i> HOW IT WORKS</a>
        </li>

      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <a class="nav-link" href="/about_me">ABOUT ME</a>
        </li>
      </ul>

  </nav>





{% block app_content %}

<!-- page specific contents goes here -->

{% endblock %}

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

</body>
</html>
