{% extends "base1.html" %}
{% block app_content %}

  <div class="container"  style="margin-top:80px">

<div id="accordion" style="font-size:1.2em">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h4 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Data sources
        </button>
      </h4>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <p>The book titles and reviews were scrapped from <a href="https://www.audible.com/" target="_blank">audible.com</a></p>
        <p>The word2vec pretrained model ws downloaded from <a href="https://code.google.com/archive/p/word2vec/">the google code archive</a>. </p>
      </div>
    </div>
  </div>  <!-- card 1 -->

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h4 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          The emoji model
        </button>
      </h4>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
            <img src="static/RNN.png" calss="img-fluid" style="max-width: 85%" alt="RNN model">
          <p>Each word in the string is first embbeded to a vector of length = 300, then feed into the recurrent neural network (RNN) model. </p>
          <p>The RNN model consists two long-short-term memory (LSTM) layers.</p>
      </div>
    </div>
  </div> <!-- card 2 -->


<div class="card">
  <div class="card-header" id="headingThree">
    <h4 class="mb-0">
      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Word embedding, RNN and LSTM in sentiment analysis
      </button>
    </h4>
  </div>
  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
    <div class="card-body">
          <h3>Word embedding </h3>
          <p>Word embedding allows the model to "understand" word similarity, and this ability can be extended to sentences.</p>
          <p>For example:</p>
          <p>     (If we teach the model)</p>
          <p style="font-size:1.5em">     "it is an amazing book" --> 👍 </p>
          <p style="font-size:1.5em">     "blood is everywhere" --> 😱</p>
          <p>     (The model can do, even when the  word "gore" and "awesome" were not included in the training examples.)</p>
          <p style="font-size:1.5em">     "this is awesome" --> 👍 </p>
          <p style="font-size:1.5em">     "gore to the max" --> 😱</p>

          <p>In other words, the model can understand a sentence even when the model has not "seen" some words in that sentence before.</p>
          <h3>RNN</h3>
          <p>An RNN model is capable of "interpreting" sentences beyond the words. So it does not tag a thumb up anytime it sees the word "good", smile face anytime it sees the word "funny". </p>
          <p>Examples: </p>
          <p style="font-size:1.5em">"good" --> 👍 </p>
          <p style="font-size:1.5em">"not good" --> 😒</p>
          <p style="font-size:1.5em">"this is not funny at all" --> " " (no emoji)</p>
          <h3>LSTM</h3>
          <p>LSTM architecture allows the RNN model to "hold that memory" longer, so the model is capable of task like these:</p>
          <p style="font-size:1.5em">"not at all as good as expected" --> 😒</p>
    </div>
  </div>
</div> <!-- card 3 -->

<div class="card">
  <div class="card-header" id="headingFour">
    <h4 class="mb-0">
      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        Examples of Emoji-Sentence pair
      </button>
    </h4>
  </div>
  <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
    <div class="card-body">
      <h5 id="toc_4">😀 - &#39;Plenty of laugh out loud moments&#39;</h5>

      <h5 id="toc_5">🤔 - &#39;This story has been so inspirational to me, and makes you think deeply about current issues&#39;</h5>

      <h5 id="toc_6">😥 - &#39;I wasn&#39;t sure what to expect but it left me in tears&#39;</h5>

      <h5 id="toc_7">😱 - &#39;The horror does not disappoint in any of these regards&#39;</h5>

      <h5 id="toc_8">😒 - &#39;I found this book pretty blah&#39;</h5>

      <h5 id="toc_9">👍 -&#39;It is an absolute classic for many good reasons&#39;</h5>

      <h6 id="toc_10">&#39;no emoji&#39;- &#39;There are a lot of pros and cons to this book&#39;</h5>
    </div>
  </div>
</div> <!-- card 4 -->

  <div class="card">
    <div class="card-header" id="headingFive">
      <h4 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Examples of customized sentiment analysis tasks
        </button>
      </h4>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
      <div class="card-body">
          <p>Sentiment analysis use cases are usually very context dependent, you probably don't need to identify a "screaming in fear" face in every of your business, but the small training example requirement means that the technique used in this app can easily be transferred to build a customized model.</p>
          <p>For example, you can build a model to dedicate customer emails to different departments of the company. </p>
          <img src="static/case1.png" calss="img-fluid" style="max-width: 85%" alt="use case1">
          <p>Or, quickly filter out the most urgent comments to a specialized "first aid" group.</p>
          <img src="static/case2.png" calss="img-fluid" style="max-width: 85%" alt="use case2">

      </div>
    </div>
  </div> <!-- card 4 -->
  </div>  <!-- accordion-->

</div>   <!-- <div class="container"  style="margin-top:80px"> -->

{% endblock %}
